
<!DOCTYPE html>
<html>
<head>
    <title>Affichage de l'annonce {{ advert.id }}</title>
</head>
<body>



<p>
    Ici nous pourrons lire l'annonce ayant comme id : {{ advert.id}}<br />
    {{ advert.content }}
</p>
</body>
</html>
